@model  DeliveryModels
@{
    ViewData["Title"] = "Delivery method";
}

<h2>Delivery Method</h2>
<form action="@Url.Action("StartDelivery")" method="post">
    <input type="hidden" name="id" value="@Model.OrderId" />
    <label for="code">Delivery select:</label>
    <select class=" form-control" name="uniqueCode">
        @foreach (var method in Model.Methods)
        {
            <option value="@method.Key">@method.Value</option>
        }
    </select>
    <button class="btn btn-success" type="submit">Next</button>
</form>

